<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="com.seleniumproject.configuration"/>
    <class name="com.seleniumproject.PageTitle"/>
      <class name="com.seleniumproject.Login"/>
      <class name="com.seleniumproject.AdminTab"/>
      <class name="com.seleniumproject.AddButton"/>
      <class name="com.seleniumproject.FillInDetails"/>
      <class name="com.seleniumproject.SearchButton"/>
      <class name="com.seleniumproject.DeleteButton"/>
      <class name="com.seleniumproject.SearchRecord"/>
      <class name="com.seleniumproject.LogoutButton"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
